<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Gestão de ideias</title>
  <link rel="stylesheet" href="/css/styles.css"> </head>
<body>
  <header>
    <h1>Gestão de ideias</h1>
    <nav>
      <a href="/idea/home">Ver Todas</a> |
      <a href="/idea/create" id="open-create">Criar Ideia</a> |
        <a href="/user/logout" id="logout">Sair</a>
    </nav>
  </header>
  <hr>
  <main>
    {{{ body }}}
  </main>
  <script src="/js/modal.js"></script>
</body>
</html>