<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Gestão de ideias</title>
    <link rel="stylesheet" href="/css/styles.css"> </head>
<body>
<hr>
<main>
    {{{ body }}}
</main>
</body>
</html>