<h2>Criando uma nova ideia</h2>
<form action="/idea/create" method="post">
  <label>Título:</label><br>
  <input type="text" name="title" placeholder="O que precisa ser feito?" required/><br>
  <label>Descrição:</label><br>
  <input type="text" name="description" placeholder="Algum detalhe extra?" /><br><br>
  <button type="submit">Criar ideia</button>
</form>